VALID_USERNAME=
VALID_PASSWORD=

# Google Gemini
GOOGLE_API_KEY=

# Azure OpenAI GPT
AZURE_API_KEY=
AZURE_API_VERSION=
AZURE_ENDPOINT=
AZURE_DEPLOYMENT=

# Azure Whisper (STT)
WHISPER_API_KEY=
WHISPER_API_VERSION=
WHISPER_ENDPOINT=
WHISPER_DEPLOYMENT=
